
{% extends "layout.html" %}

{% block beforeContent %}
{% include './includes/phase-banner--alpha.html' %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
		<form method="post">
			{{ govukTextarea({
				name: "note-content",
				id: "note-content",
				label:
				{
					text: "New written note",
					classes: "govuk-label--xl",
					isPageHeading: true
				},
				rows: "20",
				hint:
				{
					text: "Last saved 2 minutes ago."
				}
			}) }}

			<p class="govuk-!-margin-bottom-0">
				{{govukButton({
					text: "Save and continue"
				})}}
			</p>
			
			{{ govukButton({
				text: "Cancel and delete this note",
				classes: "govuk-button--warning",
				attributes:
				{
					formaction: "cancel-written-note",
					formmethod: "get",
					type: "submit"
				}
			}) }}
		</form>
	</div>

	<div class="govuk-grid-column-one-third">
		<h2 class="govuk-heading-m">
			Help with tagging
		</h2>

		<h3 class="govuk-heading-s">
			People
		</h3>
		<p>
			Use '<code>@</code>' symbols to tag people.
		</p>
		<p>
			For example, '<code>@Jay Smith@</code>'.
		</p>

		<h3 class="govuk-heading-s">
			Highlighting
		</h3>
		<p>
			Use three asterisks to highlight parts of your notes.
		</p>
		<p>
			For example, '<code>***This sentence is important.***</code>'.
		</p>
	</div>
</div>
{% endblock %}
